.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.header_div {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.link:hover {
  text-decoration: #c8a09d 4px underline;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
@media screen and (max-width: 1060px) {
  .header_div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin: 1rem;
  }
}
