.itinerarioscard{
 

}
.carstyle{
    margin-top: 2rem;
    margin: 1rem;
    background-color: #28352e!important;
    
}
.MuiCardHeader-title{
    font-size: 40px!important;
    font-weight: bold!important;
}
.MuiCardHeader-content span{
    color: rgb(255, 255, 255)!important;

}

.time{
    color: white;
    margin-bottom: 1rem!important;
}
.imagenIti{
    box-shadow: 3px 1px 4px 4px rgba(14, 12, 12, 0.39);
}
.MuiCardActions-root button{
    color: white;
}
.avatar{
   height: 3rem!important;
   width:  3rem!important;
}
@media screen and (max-width: 820px) {
    .MuiCardHeader-title{
        font-size: 20px!important;
    }
    .imagenIti{
        height: 14rem!important;
    }
    .MuiCardHeader-subheader{
        font-size: 12px!important;
    }
}