.header {
  display: flex;
  justify-content: space-between;
  margin: 10rem;
  margin-top:4rem;
}
.header_div {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.header_div img{
 width: 15rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem

}
.link:hover {
  text-decoration: #c8a09d 4px underline;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 28px;
  color: white;
  gap: 2rem;
}
.selectc{
  color: black!important;
  font-weight: 500!important;
}
.imgprofile{
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
.nameUser p {
  margin-bottom: 0.3rem;
}
.nameUser{
  margin-top: -0.1rem;
  margin-right: 1rem;
  
}
.logouser{
  display: flex;
border: none!important;
color: white!important;


}
.MuiOutlinedInput-root{
  color: white!important;
}
@media screen and (max-width: 1060px) {
  .header_div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin: 1rem;
  }
  .header_div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
