.header {
  margin: 6rem; 
   margin-top: 2rem;

}
.header_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img{
 width: 17rem;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}
.link:hover {
  text-decoration: #c8a09d 4px underline;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 30px!important;
  color: rgba(252, 250, 250, 0.943);
  gap: 2rem;
}
.selectc{
  color: rgb(19, 16, 16)!important;
  font-weight: 500!important;
  font-size: 25px!important;
}
 
.imgprofile{
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.logouser{
  display: flex;
  gap: 1rem;
}
.nameUser{
  color: white;
  font-size: 20px;
}



@media screen and (max-width: 1060px) {
  .header {
    margin-top: 6rem;
  }
  .img {
    margin: 0;
    margin-left: 3.7rem;
  }
  .header_div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  
  .header_div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
