.hero {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 6rem;
}
.hero_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
}
.hero_info h1 {
  font-size: 95px;
  font-weight: 700;
}
.hero_info p {
  font-size: 24px;
  max-width: 30rem;
  font-weight: 400;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.hero_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.hero_images img{
  max-width: 100%;
}

.images1 {
  margin-top: -2rem!important;
  filter: brightness(87%) contrast(55%) saturate(197%) sepia(80%);
}
.images2 {
  filter: invert(26%);
}
.images3 {
  margin-top: -3rem!important;
  filter: hue-rotate(337deg) saturate(143%);
}
.images4 {
  filter: contrast(158%) grayscale(73%);
}
.images5 {
  filter: contrast(31%) hue-rotate(241deg) grayscale(73%);
  margin-top: -2rem!important;
}
.arrowIcon {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(7px);
  }
  to {
    transform: translateY(-4px);
  }
}
.background1 {
  background-color: #92763a;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1445px) {
  .hero {
    margin: 2rem;
    display: flex;
    flex-direction: column;
  }
  .hero_info {
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
  }
  .hero_images img {
    max-width: 90%;
  }
  
  
}
@media screen and (max-width: 768px) {
  
  .arrowIcon {
    margin-bottom: 4rem;
  }
  .hero {
    margin: 1rem;
  }
 

 
}
@media screen and (max-width: 496px) {
  .images1 {
    margin-top: -1rem!important;
    filter: brightness(87%) contrast(55%) saturate(197%) sepia(80%);
  }
  .images2 {
    filter: invert(26%);
  }
  .images3 {
    margin-top: -1rem!important;
    filter: hue-rotate(337deg) saturate(143%);
  }
  .images4 {
    filter: contrast(158%) grayscale(73%);
  }
  .images5 {
    filter: contrast(31%) hue-rotate(241deg) grayscale(73%);
  }
  .arrowIcon {
    margin-bottom: 2rem;
  }


  .hero_info h1 {
    color: white;
    font-size: 45px;
    font-weight: 700;
  }
  .hero_info p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: -1rem;
  }
  .button {
    background: #824d48;
    font-size: 40px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    text-align: center;
    
  }
  
.button:hover {
  background-color: white;
  color: #824d48;
  border: 1px solid #824d48;
}
.hero_images {
  gap: 0.1rem;
}
.hero_images img {
  max-width: 20%;
  height: auto;
}

}
