.detail_pais {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.detalletitulo {
    font-size: 150px;
    height: 10rem;
    position:absolute;
    font-weight: bold;
    color: white;
    box-shadow: 1px 7px 8px 4px rgba(7, 5, 5, 0.411);

}
.detail_datos {
    margin-top: 16rem;
    display: flex;
    gap: 4rem;
    color: white;
    font-size: 18px;
    margin-right: 1rem;
}
.img_city img{
  width: 37rem;
  height: 25rem;
  border-radius: 4px;
  box-shadow: 1px 7px 8px 4px rgba(7, 5, 5, 0.411);

}
.img_city {
  
  object-fit: cover;
}