.formulary {
  display: flex !important;
  justify-content: center !important;
  margin: 3rem 2rem;
}
.MuiBox-root {
  padding: 1rem;
  border: solid 1px;
  height: 55rem;
  width: 28rem !important;
  background-color: hsl(0, 12%, 89%);
}
.MuiOutlinedInput-root {
  color: rgb(37, 36, 36) !important;
}
.MuiFormControl-root label {
  color: rgb(37, 36, 36) !important;
  
}
.MuiFormControl-root p {
  color: rgb(0, 0, 0) !important;
}
.textform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.linee {
  border: 1px solid rgba(0, 0, 0, 0.329);
  width: 100%;
  margin: 20px auto 0 auto;
  margin-bottom: 1rem !important;
}
.titleform {
  max-width: 38rem;
  display: flex;
  margin-right: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleform p {
  text-align: center;
  color: white;
}
.titleform h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}
.textform h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.658);
}
.textform p {
  color: rgba(10, 8, 8, 0.787);
  margin-bottom: 1rem !important;
}
.botons {
  margin: 2rem 1rem;
  background-color: #ffffff;
  width: 5rem;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  height: 2.5rem;
  color: #824d48;
  text-decoration: none;
  text-align: center;
  padding: 0;
}
.botons:hover {
  background-color: #824d48;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.botonss {
  width: 7rem;
  background-color: #824d48;
  color: white;
}
.botonss:hover {
  background-color: #ffffff;
  color: #824d48;
  border: 1px solid #824d48;
}
.router {
  display: flex;
}
.buttonsubmit{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonSubm {

  background-color: #824d48;
  width: 9rem;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  height: 2.5rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 0;
}
.buttonSubm:hover {
  background-color: #ffffff;
  color: #824d48;
  border: 1px solid #824d48;
}
.iconss{
  display: flex;
  gap:1rem;
}
@media screen and (max-width: 880px) {
  .MuiBox-root{
    display: flex!important;
    flex-direction: column!important;
    height: 57rem!important;
    width: 20rem!important;
  }
  .formulary{
    margin: 1rem;
  }
  }
  @media screen and (max-width: 830px) {
    .formulary{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
    }
    }
    @media screen and (max-width: 830px) {
      .MuiBox-root{
        width: 15rem!important;
        height: 52rem;
        padding: 0.3;
      }
      }